
<div class="container text-center" style="margin-top: 5%; margin-bottom: 5%;">
  <%= link_to "Criar Assinatura", form_signature_path, class: "btn btn-primary" %>

  <%= link_to "Criar Cliente", form_client_path, class: "btn btn-primary"%>
</div>